<%include partials/headPlayground.ejs %>
<div class="container-fluid">
<form action="/play" method="post">
  <div class="container-fluid">
  <div class="form-group">
  <input type="text" class="form-control" placeholder="please enter a name" name="insertName"></input>
  <input type="text" class="form-control" placeholder="please enter a imageUrl" name="insertImage"></input>
<div>
  <button type="submit" name="submit" class="btn btn-primary">SUBMIT</button>
  <div>
</form>
</div>

<%include partials/footPlayground.ejs %>
