<% include partials/header.ejs %>

<div class="container">
<div class="jumbotron">
<h1> PlayGround-Zero</h1>
<h2>Welcome to the playground where tests and cases go hand in hand</h2>
<button class="btn btn-danger" onclick="window.location.href='/play'">Click here</button>
</div>
</div>
<% include partials/footer.ejs %>
