<% include partials/headPlayground.ejs %>
<h1> hey this is the play page </h1>
<% for(var i = 0 ; i< playground.length ;i++){%>
  <h1><%= playground[i]["name"]%></h1>
  <img src="<%= playground[i]["image"]%>">
  <%}%>
  <form action="/play" method="POST">
    <input type="text" placeholder="please enter a name" name="insertName"></input>
    <button type="submit" name="submit">SUBMIT</button>
  </form>
<% include partials/footPlayground.ejs %>
