<% include partials/headPlayground.ejs %>
<h1> hey this is the play page </h1>
<% for(var i = 0 ; i< playground.length ;i++){%>
  <h1><%= playground[i]["name"]%></h1>
  <img src="<%= playground[i]["image"]%>">
  <%}%>
<% include partials/footPlayground.ejs %>
