<% include partials/header.ejs %>

<h1> this is where you will find the description</h1>

<p> <%= playground.name %></p>
  <p> <img src=<%= playground.image %> ></p>
    <p> <h3> <%= playground.description %> </h3> </p>

  <% include partials/footer.ejs %>
